Repository openego/eGon-data, pull requests merged in 2022-06, with the labels that each got.

#720 Features/#514 catch unique violation
  CHANGELOG.rst
  src/egon/data/db.py
Labels: :rocket: feature

#791 Fix/#514 catch unique violation tests
  src/egon/data/db.py
Labels: :bug: bug

#788 Features/#787 set pk for osm ways with segments
  CHANGELOG.rst
  src/egon/data/datasets/osm_buildings_streets/__init__.py
  src/egon/data/datasets/osm_buildings_streets/osm_ways_preprocessing.sql
Labels: :nerd_face: data

#785 Update hh electricity profiles
  CHANGELOG.rst
  src/egon/data/datasets.yml
  src/egon/data/datasets/electricity_demand_timeseries/hh_buildings.py
  src/egon/data/datasets/electricity_demand_timeseries/hh_profiles.py
Labels: :nerd_face: data
